body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* justify-content: center;
  align-items: center;  */
}

#app {
  width: 550px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: auto;
  background: #04a9223a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

:root {
  --gold: #ffb338;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;
}

.wrapper {
  /* background: radial-gradient(#272727, #1b1b1b); */
  display: grid;
  grid-template-areas: 'overlap';
  place-content: center;
  text-transform: uppercase;
  height: 100vh;
}
.wrapper > div {
  background-clip: text;  
  -webkit-background-clip: text;
  color: #363833;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: clamp( 3em, 18vw, 10rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}
div.bg {
  background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% , 
    var(--dark-shadow) 5%,
    var(--gold) 12%);
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}
div.fg{
  background-image: repeating-linear-gradient( 5deg,  
    var(--gold) 0% , 
    var(--light-shadow) 23%, 
    var(--gold) 31%);
  color: #1e2127;
  transform: scale(1);
}

.doors {
  display: flex;
}

.door {
  background: #2fb91737;
  width: 100px;
  height: 110px;
  overflow: hidden;
  border-radius: 5px;
  margin: 5px;
}

.boxes {
  /* transform: translateY(0); */
  transition: transform 1s ease-in-out;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.buttons {
  margin: 1rem 0 2rem 0;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 0.2rem;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

#cancel-btn {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 0.2rem;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: rgb(141, 26, 26);
}

/* #update-row-btn {
  display: flex; 
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 0.2rem;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  color: rgb(17, 205, 17);
} */

/* #update-row {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.input-container {
  display: flex;
  align-items: center;
}

#name-input {
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
  width: 90px;
}

#update-row-btn {
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  color: rgb(17, 205, 17);
}

.info {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  padding: 100;
}

.two-column-list {
  columns: 2;
  height: 70px;
}

.two-column-list li {
  break-inside: avoid;
}

#first:before{
  content: "💾";
  margin-right: 2px;
}

#first{
  font-family: "MyFont", sans-serif;
  color: #076309fc;
}

#first_score{
  font-family: "MyFont", sans-serif;
  color: #076309fc;
}

#first_score:before{
  content: "💾";
  margin-right: 2px;
}

#second:before{
  content: "🕹️";
  margin-right: 2px;
}

#second{
  font-family: "MyFont", sans-serif;
  color: #076309b5;
}

#second_score{
  font-family: "MyFont", sans-serif;
  color: #076309b5;
}

#second_score:before{
  content: "🕹️";
  margin-right: 2px;
}

#third:before{
  content: "🤖";
  margin-right: 2px;
  font-family: "MyFont", sans-serif;
  color: #4CAF50;
}

#third{
  font-family: "MyFont", sans-serif;
  color: #07630967;
}

#third_score{
  font-family: "MyFont", sans-serif;
  color: #07630967;
}

#third_score:before{
  content: "🤖";
  margin-right: 2px;
}

@font-face {
  font-family: "MyFont";
  src: url("./fonts/kongtext.ttf");
}

h2 {
  font-size: 20px;
  font-family: "MyFont", sans-serif;
  color: #4CAF50;
  text-shadow: 2px 2px #021e028b;
}

#leaderboard {
  border: 1px solid #4CAF50;
  border-radius: 15px;
  box-shadow: 0 0 10px #4CAF50;
}

#cash-out {
  align-self: flex-start;
  margin-left: 25px;
  margin-bottom: 25px;
  cursor: pointer;
}

/* table {
  margin: 50px auto;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #000;
}

th, td {
  padding: 5px;
} */

.container {
  font-family: sans-serif;
  text-align: center;
  height: 15%;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(
    to bottom,
    hsla(49, 100%, 56%, 1),
    hsla(300, 84%, 39%, 1)
  ); */
}

.title {
  font-size: 7em;
  font-weight: 500;
  /* font-family: "Fredoka One"; */
  font-family: Impact;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

span:last-child {
  position: relative;
  top: -30px;
}

.subtitle {
  position: relative;
  top: -30px;
  left: 150px;
  font-size: 2em;
  font-weight: 100;
  /* font-family: Caveat; */
  font-family: "Bradley Hand";
  padding: 0;
  margin: 0;
  transform: rotateZ(-10deg);
  color: hsl(318, 100%, 51%);

  text-shadow: 1px 1px hsl(130, 84%, 62%), 2px 2px hsl(240, 90%, 61%);
}

.metal {
  background: linear-gradient(
    hsl(142, 50%, 30%) 15%,
    hsl(144, 50%, 40%) 25%,
    hsl(200, 60%, 50%) 35%,
    hsl(100, 70%, 80%) 45%,
    hsl(60, 100%, 98%) 50%,
    hsl(240, 0%, 0%) 52%,
    hsl(240, 10%, 10%) 60%,
    hsl(145, 50%, 30%) 70%,
    hsl(220, 70%, 60%) 80%,
    hsl(212, 92%, 76%) 85%
  );

  -webkit-text-stroke: 2px hsl(200, 65%, 80%);

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.raise {
  filter: drop-shadow(1px 3px 0px hsl(242, 54%, 10%))
    drop-shadow(1px 3px 0px hsl(242, 54%, 15%))
    drop-shadow(1px 3px 0px hsl(242, 54%, 20%))
    drop-shadow(1px 3px 0px hsl(242, 54%, 25%))
    drop-shadow(1px 3px 0px hsl(242, 54%, 30%))
    drop-shadow(0px 0px 10px rgba(16, 16, 16, 0.4));
}