#front {
    width: 500px;
    height: 700px;
    background-image: url('./front_glass0.png');
    position: absolute;
    /* top: -2px; */
    left: 0px;
    /* background-size: contain; adjust the size of the image to fit within the div */
    background-repeat: no-repeat; /* prevent the image from repeating */
    background-position: center center; /* center the image within the div */
    /* background-size: contain; */
    z-index: 4;
  }

#back {
    width: 500px;
    height: 700px;
    background-image: url('./back_glass.png');
    position: absolute;
    /* top: -2px; */
    left: 0px;
    /* background-size: contain; adjust the size of the image to fit within the div */
    background-repeat: no-repeat; /* prevent the image from repeating */
    background-position: center center; /* center the image within the div */
    /* background-size: contain; */
    z-index: 1;
}
  
#grid {
    width: 500px;
    height: 700px;
    border: 1px solid black;
    /* background-image: url('./front_glass.png'); */
    position: absolute;
    /* top: 0px; */
    /* background-repeat: no-repeat;  */
    /* background-size: contain; */
    /* z-index: 2; */
  }
  
#square {
    width: 100px;
    height: 100px;
    background-image: url("./claw_open.png");
    position: absolute;
    background-size: contain; /* adjust the size of the image to fit within the div */
    background-repeat: no-repeat; /* prevent the image from repeating */
    background-position: center center; /* center the image within the div */
    /* top: 0px; */
    /* left: 0px; */
    z-index: 2;
  }

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
}

.button.up {
    transform: rotate(-90deg);
}

.button.down {
    transform: rotate(90deg);
}

.button.left {
    transform: rotate(180deg);
}

#container {
    position: absolute;
    perspective: 15px; 
    z-index: 3;
  }
  
  .image {
    position: absolute;
    /* width: 2px;
    height: 2px;
    transition: transform 0.5s;  */
  } 
  
